@use 'colors';

#app .vue-tags-input:not(.light) {
  background: transparent;

  input {
    background: transparent;
    color: colors.$lightestGrey;
  }

  .ti-tag input {
    color: #fff;
  }

  .ti-input {
    border: 1px solid colors.$grey;
  }

  ::-webkit-input-placeholder {
    color: colors.$lightGrey;
  }

  ::-moz-placeholder {
    color: colors.$lightGrey;
  }

  :-ms-input-placeholder {
    color: colors.$lightGrey;
  }

  :-moz-placeholder {
    color: colors.$lightGrey;
  }

  .ti-autocomplete {
    background: colors.$dark;
    border: 1px solid colors.$grey;
    border-top: none;
  }
}
